@model BrauerNet.Models.Project

@{
    ViewData["Title"] = "Project - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Maya's Specialty Foods - Product Details</title>

</head>

<body>
    <h2>Project Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<br />

	<ul>
    @for(var i = 0; i < 3; i++)
    {
        <li>@Html.DisplayNameFor(model => model.Goals[i])</li>
    }
    </ul>
</body>
</html>