@model BrauerNet.Models.Task

@{
    ViewData["Title"] = "Group - Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>BrauerNet - Task Details</title>

</head>

<body>
    <h2>Task Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<br />

</body>
</html>